In [33]:
import numpy as np
import pandas as pd
data = pd.read_csv('mercedesbenz.csv',usecols=['X1','X2','X3','X4','X5','X6'])
data.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [34]:
#step 2:
#unique category
for col in  data.columns:
    print(col,':',len(data[col].unique()),'labels')

X1 : 27 labels
X2 : 44 labels
X3 : 7 labels
X4 : 4 labels
X5 : 29 labels
X6 : 12 labels

In [35]:
#step2: step by step

data.columns

Index(['X1', 'X2', 'X3', 'X4', 'X5', 'X6'], dtype='object')

In [36]:
data['X1']

0       v
1       t
2       w
3       t
4       v
       ..
4204    s
4205    o
4206    v
4207    r
4208    r
Name: X1, Length: 4209, dtype: object

In [37]:
data.shape

(4209, 6)

In [38]:
data['X1'].unique()

#end of step 2 explaination

array(['v', 't', 'w', 'b', 'r', 'l', 's', 'aa', 'c', 'a', 'e', 'h', 'z',
       'j', 'o', 'u', 'p', 'n', 'i', 'y', 'd', 'f', 'm', 'k', 'g', 'q',
       'ab'], dtype=object)

In [ ]:
# checking how many coloumns will be there if implementing one hot encoding

In [39]:
pd.get_dummies(data, drop_first=True).shape

(4209, 117)

In [42]:
## using KDD cup orange challenge sorting top 10 category

data.X2.value_counts().sort_values(ascending=False).head(20)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
z       19
ag      19
Name: X2, dtype: int64

In [49]:
data.X2.value_counts()

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
z       19
ag      19
d       18
ac      13
g       12
ap      11
y       11
x       10
aw       8
h        6
at       6
al       5
an       5
q        5
ah       4
p        4
av       4
au       3
aa       1
j        1
ar       1
am       1
l        1
c        1
af       1
o        1
Name: X2, dtype: int64

In [56]:
data.X2.value_counts(sort=False).sort_values()

o        1
af       1
c        1
l        1
am       1
ar       1
j        1
aa       1
au       3
av       4
p        4
ah       4
q        5
an       5
al       5
at       6
h        6
aw       8
x       10
y       11
ap      11
g       12
ac      13
d       18
ag      19
z       19
ao      20
b       21
i       25
k       25
t       29
a       47
ay      54
aq      63
e       81
f       87
s       94
n      137
r      153
ak     265
m      367
ai     415
ae     496
as    1659
Name: X2, dtype: int64

In [45]:
top_10_labels = [y for y in data.X2.value_counts().sort_values(ascending=False).head(10)]
top_10_labels

[1659, 496, 415, 367, 265, 153, 137, 94, 87, 81]

In [47]:
top_10_labels1 = [y for y in data.X2.value_counts().sort_values(ascending=False).head(10).index]
top_10_labels1

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [65]:
for label in top_10_labels1:
    data[label]=np.where(data['X2']==label,1,0)

In [67]:
data[['X2']+top_10_labels1].head(10)

   X2  as  ae  ai  m  ak  r  n  s  f  e
0  at   0   0   0  0   0  0  0  0  0  0
1  av   0   0   0  0   0  0  0  0  0  0
2   n   0   0   0  0   0  0  1  0  0  0
3   n   0   0   0  0   0  0  1  0  0  0
4   n   0   0   0  0   0  0  1  0  0  0
5   e   0   0   0  0   0  0  0  0  0  1
6   e   0   0   0  0   0  0  0  0  0  1
7  as   1   0   0  0   0  0  0  0  0  0
8  as   1   0   0  0   0  0  0  0  0  0
9  aq   0   0   0  0   0  0  0  0  0  0

In [73]:
 def one_hot_encoding(data,variable, top_x_label):
        for label in top_x_label:
            data[variable+'_'+label] = np.where(data[variable]==label,1,0)

In [74]:
data = pd.read_csv('mercedesbenz.csv',usecols=['X1','X2','X3','X4','X5','X6'])
one_hot_encoding(data,'X2',top_10_labels1)

In [75]:
data.head()

,X1,X2,X3,X4,X5,X6,X2_as,X2_ae,X2_ai,X2_m,X2_ak,X2_r,X2_n,X2_s,X2_f,X2_e
0,v,at,a,d,u,j,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,0,0,1,0,0,0
3,t,n,f,d,x,l,0,0,0,0,0,0,1,0,0,0
4,v,n,f,d,h,d,0,0,0,0,0,0,1,0,0,0